.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  gap: 20px;
}
.title {
  line-height: 1.15;
  font-size: min(50px, 15vw);
  font-weight: 900;
  background-color: #222222;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23727272' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: min(10vh, 200px) 0;
  color: white;
  width: 100%;
}
.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
.modifierSettings {
  flex: 2;
  padding-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.modifierSettings h2 {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 10px;
}
.modifierSettings__iconNameSelect,
.modifierSettings__colorSelect,
.selectIconsFromGoogle,
.iconTypeSetting,
.iconPatternSetting {
  margin-bottom: 30px;
  text-align: center;
  color: #3d3d3d;
  padding: 20px 40px;
  border: 2px solid #eee;
  border-radius: 12px;
}
.modifierSettings__iconNameSelect input,
.iconTypeSetting select,
.iconPatternSetting select {
  background-color: #eee;
  border: 1px solid #c2c2c2;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  appearance: none;
}
.modifierSettings__iconNameSelect input:focus {
  outline: none;
  border: 1px solid #979797;
}
.iconNameSubmit {
  display: inline-block;
  cursor: pointer;
  padding: 0.7em 1.4em;
  border-radius: 0.15em;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.iconNameSubmit:active {
  top: 0.1em;
}
.modifierSettings__colorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.opensInNewTabMsg {
  text-align: center;
  color: #646464;
  margin-top: 5px;
}
.googleFontsInstructions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
  padding: 30px;
  background-color: #c5c5c5;
  gap: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.googleFontsInstructions div {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.iconPatternSetting input {
  width: 100%;
}
.advancedSettingsBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 10px;
  flex-wrap: wrap;
}
.advancedSettingsBtn p {
  font-size: 18px;
}
.coverPreview {
  flex: 4;
  padding-top: 20px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.previewBox {
  min-width: 100%;
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 15px;
}
.mobilePreviewBox {
  display: none;
}

.defaultChanger {
  color: #3369ff;
  cursor: pointer;
  padding: 1px 0;
  border-bottom: 1px solid #3369ff;
}
.downloadBtnWraper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  border: 2px solid #c5c5c5;
  background-color: #eee;
  border-radius: 12px;
}
.downloadBtn {
  display: inline-block;
  padding: 0.7em 1.4em;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}
.downloadBtn:disabled {
  background-color: #797979;
  cursor: not-allowed;
  color: #bdbdbd;
}
.downloadBtn:active {
  top: 0.1em;
}
.loadingBar progress {
  width: 90%;
  margin-bottom: 10px;
  height: 3px;
}
.loadingMsg {
  margin-bottom: 10px;
  color: #3369ff;
  padding: 3px;
}
.previewSvg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notionColours {
  margin-top: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid #222;
}
.previewSvg svg {
  width: 100%;
  height: auto !important;
}
.errorCover {
  width: 100%;
  height: 300px;
  background-color: #ff6161;
  display: grid;
  place-items: center;
}
.errorTextWrapper {
  text-align: center;
  color: white;
  padding: 30px;
}

.errorTextWrapper h2 {
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ca4343;
}
.footer {
  width: 100%;
  padding: 30px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  color: #222222;
}
.footer a {
  color: #3369ff;
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 1px solid #3369ff;
  transform: translateY(2px);
  margin: 0 5px;
}
@media only screen and (max-width: 790px) {
  .wrapper {
    flex-direction: column;
  }
  .title {
    font-size: 20px;
    position: fixed;
    top: 0;
    padding: 18px;
    font-weight: 600;
    color: #eee;
    background-color: #222222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%236c6c6c' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    z-index: 99;
  }
  .wrapper {
    padding-top: 8vh;
  }
  .previewBox {
    display: none;
  }
  .previewLoading {
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    z-index: 999;
  }
  .previewLoading p {
    margin: 0 auto;
    display: inline-block;
    background-color: #222222;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 90px;
  }
  .mobilePreviewBox {
    display: block;
    width: 100%;
    position: sticky;
    top: 59px;
    z-index: 99;
    box-shadow: 0 0.4px 0.9px rgba(0, 0, 0, 0.015),
      0 0.9px 2.1px rgba(0, 0, 0, 0.022), 0 1.5px 3.5px rgba(0, 0, 0, 0.027),
      0 2.3px 5.2px rgba(0, 0, 0, 0.031), 0 3.3px 7.5px rgba(0, 0, 0, 0.035),
      0 4.6px 10.6px rgba(0, 0, 0, 0.039), 0 6.5px 15.1px rgba(0, 0, 0, 0.043),
      0 9.5px 21.9px rgba(0, 0, 0, 0.048), 0 14.6px 33.8px rgba(0, 0, 0, 0.055),
      0 26px 60px rgba(0, 0, 0, 0.07);
  }
  .errorTextWrapper {
    padding: 0;
  }
  .mobileErrorCover {
    height: 150px !important;
  }
  .mobileErrorCover h1 {
    font-size: 20px;
  }
  .coverPreview {
    margin: 0 auto !important;
    padding-top: 0;
  }
  .downloadBtnWraper {
    width: 90vw;
    flex-direction: column;
    margin-top: 0;
  }
  .footer {
    color: #eee;
    background-color: #222222;
    border-bottom: 1px solid #222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%236c6c6c' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 18px;
  }
  .footer a {
    color: #34b5ff;
    border-bottom: 1px solid #34b5ff;
  }
}
